@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* header */
.head{
    display: flex;
    justify-content: space-between;
    padding: 2px 125px;
    position: fixed;
    overflow: hidden;
    z-index: 1000;
    width: 100%;
    border-bottom: 1px solid #dedede;
    background-color: #fff;
}

.head-child:nth-child(2){
    display: flex;
}

.head select{
    border: none;
    padding-left: 16px;
    font-size: 14px;
    font-weight: 600;
    color: #081F89;
}

.head select:hover{
    cursor: pointer;
}

.anchor{
    padding: 33px 5px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: #081F89;
}

/* 1st body */
.first-body{
    background-color: #faf9f4;
    display: flex;
    justify-content: space-between;
    padding: 100px 125px 2px 125px;
    margin-bottom: 30px;
}

.first-body h1{
    font-size: 64px;
    font-weight: 700;
    line-height: 68px;
    color: #000E42;
}

.d-one{
    margin-top: 60px;
    margin-bottom: 20px;
}

.first-body p{
    color: #474747;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    padding: 0 45px;
    margin-left: -40px;
}

.btn {
    margin-top: 25px;
    width: 25%;
    border: none;
    padding: 18px 18px;
    border-radius: 10px;
    background-color: #00208A;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

.btn:hover {
    cursor: pointer;
}

/* 2nd body */
.second-body{
    display: flex;
    justify-content: space-between;
    padding: 2px 125px;
    margin-bottom: 50px;
}

.second-child:nth-child(1){
    margin-top: 40px;
}

.second-child:nth-child(2){
    /* border-top: 1px solid black;
    border-bottom: 1px solid black; */
    padding: 40px 40px 20px 40px;
}

.line1{
    margin-bottom: 50px;
}

.line2{
    margin-top: 48px;
}

.second-body h2{
    font-size: 32px;
    font-weight: 500;
    color: #333333;
    margin-top: 20px;
    margin-bottom: 15px;
}

.second-body p{
    font-size: 14px;
    font-weight: 500;
    color: #666666;
    margin-bottom: 20px;
    line-height: 25px;
}

/* 3rd body */
.third-body{
    padding: 2px 125px;
    margin-bottom: 50px;
}

.third-child{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
}

.third-body h2{
    font-size: 42px;
    font-weight: 600;
    color: #050754;
    margin-bottom: 30px;
}

.third-body img{
    margin-bottom: 17px;
    filter: grayscale(100%);
}

.third-body h3{
    font-size: 20px;
    font-weight: 700;
    color: #000E54;
    padding: 5px;
}

.third-body p{
    font-size: 14px;
    font-weight: 500;
    color: #666666;
    padding: 3px 30px;
    margin-left: -25px;
    margin-bottom: 35px;
}

.third-body a{
    margin-left: 5px;
    color: #3e3e3e;
    font-weight: 600;
    text-decoration: none;
    border-bottom: 2px solid #3e3e3e;
    padding-bottom: 7px;
}

.third-parent:nth-child(1) p{
    margin-top: 12px;
}

.third-parent:nth-child(2) p{
    margin-top: 10px;
    margin-bottom: 37px;
    margin-left: -35px;
}

.third-parent:nth-child(3) p{
    margin-top: 35px;
    margin-bottom: 42px;
}

/* 4th body */
.fourth-body{
    padding: 2px 125px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 80px;
}

.fourth-body h3{
    margin-bottom: 20px;
    font-size: 17.5px;
    font-weight: 700;
}

.fourth-parents p{
    border-bottom: 1px solid green;
    line-height: 25px;
    padding-top: 20px;
    width: 80%;
    color: #3d3d3d;
    font-size: 16px;
    font-weight: 400;
}

#last{
    border-bottom: 2px solid white;
}

/* 5th body */
.fifth-body{
    padding: 2px 125px;
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr;
    margin-top: 150px;
    margin-bottom: 150px;
}

.flex2{
    margin-top: 60px;
}

.fifth-body img{
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.fifth-parents{
    margin-bottom: 30px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 2px 10px 50px 20px #D4EBD9;
}

.fifth-pear{
    border: 1px solid black;
    margin-bottom: 30px;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 2px 10px 50px 20px #FFE0DB;
}

.fifths-parents{
    margin-bottom: 60px;
}

.fifths-parents:nth-child(1) h2{
    color: #333333;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 5px;
    text-align: left;
}

.fifths-parents:nth-child(1) p{
    font-size: 14px;
    font-weight: 500;
    color: #666666;
    margin-bottom: 20px;
    text-align: left;
}

.fifths-parents:nth-child(1) a{
    font-size: 14px;
    font-weight: 600;
    color: #1e168b;
}

.but{
    display: flex;
}

.but a{
    color: rgb(0, 0, 135);
}

.but img{
    margin-left: 5px;
    margin-top: 5px;
}

.but a:hover{
    cursor: pointer;
    color: #E06100;
}

.fifth-parents h3{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 15px;
}

.fifth-parents p{
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 15px;
}

.fifth-parents a{
    font-size: 14px;
    font-weight: 600;
}

.fifth-pear h3{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 15px;
}

.fifth-pear p{
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 15px;
}

.fifth-pear a{
    font-size: 14px;
    font-weight: 600;
}

.fifth-parents:nth-child(2){
    background-color: #D5EAF3;
}

.fifth-parents:nth-child(3){
    background-color: #E0D5C0;
}

.fifth-pear:nth-child(1){
    background-color: #EEEFBD;
}

.fifth-pear:nth-child(2){
    background-color: #DFD5E8;
}

/* 6th body */
.sixth-body{
    padding: 2px 125px;
}

.sixth-body h2{
    font-size: 27px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 25px;
    line-height: 35px;
}

.sixth-child{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-left: 25px;
}

.sixth-parent:nth-child(2){
    margin-bottom: 50px;
}

/* 7th body */
.seventh-body{
    padding: 17px 125px;
    display: flex;
    justify-content: space-between;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: 1300px 600px;
    margin-bottom: 60px;
}

.seventh-parent:first-child{
    padding: 30px;
    margin-top: 20px;
}

.seventh-parent:last-child{
    padding: 30px;
}

.seventh-body h1{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 7px;
    color: white;
}

.seventh-body p{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 2px;
    line-height: 27px;
    color: white;
}

.seventh-body a{
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

.seventh-body iframe{
    border-radius: 30px;
}

.btn1 {
    margin-top: 25px;
    text-transform: uppercase;
    width: 25%;
    border: none;
    padding: 19px 18px;
    border-radius: 30px;
    background-color: #00208A;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

.btn:hover {
    cursor: pointer;
}

/* 8th body */
.eight-body{
    padding: 2px 125px;
    margin-bottom: 100px;
}

.eight-parent{
    margin-top: 30px;
}

.eight-image img{
    border-radius: 100%;
    margin-right: 14px;
}

.eight-image{
    display: flex;
    margin-bottom: 20px;
}

.star span{
    font-size: 21px;
    font-weight: 600;
    color: #FB8E28;
}

.eight-image h4{
    font-size: 14px;
    font-weight: 700;
    color: #154FC1;
}

.eight-image p{
    font-size: 13px;
    font-weight: 400;
    color: #555555;
}

.eight-box button{
    margin-top: 25px;
    border: none;
    padding: 8px 12px;
    border-radius: 20px;
    background-color: #1F67E7;
    display: flex;
}

.eight-box a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    margin-right: 5px;
}

.eight-child{
    padding: 30px 10px;
}

.eight-box{
    display: flex;
    justify-content: space-between;
}

.eight-parent:nth-child(1){
    padding: 40px 120px;
    text-align: center;
    line-height: 25px;
}

.eight-parent:nth-child(2){
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.eight-body h2{
    font-size: 48px;
    font-weight: 600;
    color: #333333;
}

.eight-body p{
    font-size: 14px;
    font-weight: 500;
    color: #474747;
}

.eight-parent:nth-child(1) h5{
    font-size: 14px;
    font-weight: 700;
    color: #333333;
}

.eight-parent:nth-child(1) p{
    font-size: 12px;
    font-weight: 400;
    color: #555555;
}

/* 9th body */
.ninth-body{
    padding: 2px 125px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.ninth-parent h2{
    font-size: 38px;
    font-weight: 600;
    color: #333333;
}

.ninth-child{
    width: 720px;
    padding: 20px;
}

.ninth-section{
    display: grid;
    grid-template-columns: 1fr;
}

.ninth-child:nth-child(2){
    display: flex;
    margin-left: -30px;
    margin-top: -20px;
}

.ninth-box{
    padding: 40px 30px;
}

.ninth-box img{
    color: #666666;
}

.ninth-box h3{
    color: #333333;
    font-size: 20px;
    font-weight: 500;
    margin-top: 18px;
}

.ninth-box p{
    color: #666666;
    font-size: 14px;
    font-weight: 500;
    margin-top: 15px;
}

/* 10th body */
.tenth-body{
    padding: 2px 125px;
    display: flex;
    justify-content: space-between;
    gap: 70px;
    background-color: #090326;
}

.tenth-parent{
    margin-bottom: 20px;
}

.tenth-parent:nth-child(1){
    padding: 50px 30px;
    width: 150%;
}

.tenth-parent:nth-child(2){
    padding: 50px 30px;
}

.tenth-parent:nth-child(1) h4{
    padding-bottom: 15px;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.tenth-parent:nth-child(1) h2{
    padding-bottom: 40px;
    font-size: 39px;
    font-weight: 600;
    color: white;
}

.tenth-parent:nth-child(1) a{
    border-bottom: 2px solid #D0A73F;
    padding-bottom: 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #D0A73F;
}

.tenth-parent:nth-child(2) h4{
    font-size: 20px;
    font-weight: 500;
    color: #D39B00;
    margin-bottom: 20px;
}

.tenth-parent:nth-child(2) p{
    border-bottom: 2px solid goldenrod;
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding-bottom: 20px;
}

.tenth-parent:nth-child(2) h5{
    border-bottom: 2px solid goldenrod;
    padding-top: 40px;
    padding-bottom: 25px;
    font-size: 20px;
    font-weight: 500;
    color:#D39B00;
}

/* 11th body */
.eleventh-body{
    padding: 70px 125px;
    background-color: #000B3F;
}

.eleventh-parent h4{
    font-size: 14px;
    font-weight: 700;
    word-spacing: 3px;
    color: white;
}

.eleventh-parent h2{
    font-size: 56px;
    font-weight: 700;
    color: white;
    margin-bottom: 20px;
}

.eleventh-parent p{
    font-size: 14px;
    font-weight: 500;
    color: white;
    line-height: 22px;
    margin-bottom: 23px;
}

.eleventh-parent a{
    font-size: 14px;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.eleventh-parent button{
    background-color: #00208A;
    border: none;
    padding: 18px 25px;
    border-radius: 30px;
}

/* 12th body */
.twelve-body{
    padding: 2px 125px;
    background-color: #F0F1FF;
}

.twelve-parent:nth-child(1){
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    margin-bottom: 50px;
}

.twelve-parent:nth-child(1) h2{
    font-size: 40px;
    font-weight: 600;
}

.twelve-parent:nth-child(1) a{
    font-size: 14px;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.twelve-parent:nth-child(1) button{
    background-color: #00208A;
    border: none;
    padding: 18px 25px;
    border-radius: 30px;
}

.twelve-parent:nth-child(2){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 130px;
    height: 620px;
}

.twelve-child{
    background-color: white;
    width: 320px;
    padding: 0px 20px;
    box-shadow: 0px 8px 5px -10px;
}

.twelve-parent:nth-child(2) img{
    margin-bottom: 23px;
    margin-left: -20px;
}

.twelve-parent:nth-child(2) h5 a{
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    text-decoration: none;
}

.twelve-parent:nth-child(2) h6{
    font-size: 12px;
    font-weight: 700;
    color: #F7827E;
    margin-top: 10px;
    margin-bottom: 10px;
}

.twelve-parent:nth-child(2) p{
    font-size: 14px;
    font-weight: 500;
    color: #666666;
    margin-bottom: 20px;
}

.twelve-child:nth-child(3){
    height: 530px;
}

.twelve-child:nth-child(1){
    height: 560px;
}

/* 13th body */
.thirteen-body{
    padding: 80px 125px;
}

.thirteen-parent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.thirteen-parent h3{
    font-size: 19px;
    font-weight: 600;
    line-height: 24px;
    color: #00208A;
    margin-bottom: 10px;
}

.thirteen-parent h4{
    font-size: 15px;
    font-weight: 500;
    color: #333333;
    margin-bottom: 20px;
}

.thirteen-parent h5{
    font-size: 15px;
    font-weight: 500;
    color: #333333;
    margin-top: 5px;
}

.thirteen-child:nth-child(1) a{
    font-size: 14px;
    font-weight: 500;
    color: #2EA3F2;
    text-decoration: none;
}

.images13{
    word-spacing: 10px;
    line-height: 35px;
}

.thirteen-parent h6{
    font-size: 16px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 20px;
}

.thirteen-parent p{
    font-size: 14px;
    font-weight: 500;
    color: #666666;
    margin-bottom: 20px;
}

.thirteen-parent button {
    border: none;
    background-color: white;
    text-decoration: none;
}

.thirteen-parent button a{
    color: #666666;
    text-decoration: none;
    line-height: 40px;
}

.thirteen-child:nth-child(3) a{
    font-size: 14px;
    font-weight: 500;
    color: #2EA3F2;
    text-decoration: none;
}

.thirteen-child:nth-child(4) a{
    font-size: 14px;
    font-weight: 500;
    color: #2EA3F2;
    text-decoration: none;
}

.thirteen-child:nth-child(5) a{
    font-size: 14px;
    font-weight: 500;
    color: #2EA3F2;
    text-decoration: none;
}

.thirteen-child strong p{
    font-size: 14px;
    font-weight: 700;
    color: #666666;
}

.footer{
    background-color: #050044;
    padding: 20px 120px 10px 120px;
}

.footer h2{
    color: white;
    font-size: 14px;
    font-weight: 500;
}

/* round button */
.round-button img{
    background-color: #0b5bd4;
    text-align: center;
    padding: 15px;
    border-radius: 100%;
}

.round-button{
    position: fixed;
    top: 500px;
    left: 1200px;
}

.round-button:hover{
    cursor: pointer;
    width: 40px;
    height: 30px;
    border-radius: 100%;
    box-shadow: 1px 20px 30px 2px black;
    transform: translateY(-2px) scale(1);
}

/* side bar */
.side-bar{
    position: fixed;
    top: 220px;
}

.fb{
    color: white;
    padding: 9px 13px 5px 13px;
    width: 50px;
    background-color: #3c5898;
    border-top-right-radius: 5px;
}

.twitt{
    color: white;
    padding: 9px 13px 5px 13px;
    width: 50px;
    background-color: #00a8ea;
}

.linkedin{
    color: white;
    padding: 9px 13px 5px 13px;
    width: 50px;
    background-color: #1381bc;
    border-bottom-right-radius: 5px;
}

.side-bars{
    position: fixed;
    top: 490px;
    left: 30px;
    display: flex;
    gap: 10px;
}

.whatsapp{
    text-align: center;
    border-radius: 100%;
    padding: 8px 10px 7px 12px;
    background-color: #2db742;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
}

.side-bars p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 500;
    color: #43474E;
    background-color: #F5F7F9;
    padding: 7px 10px 5px 10px;
    border-radius: 5px;
}

.side-bars a{
    text-decoration: none;
}